<app-progress-spinner *ngIf="isLoading"></app-progress-spinner>
<mat-card *ngIf="!isLoading" class="forgot-password-card">
  <mat-card-header class="forgot-password-header">
    <mat-card-title class="forgot-password-title"
      >Forgot Password</mat-card-title
    >
  </mat-card-header>

  <mat-card-content class="forgot-password-content">
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>User name</mat-label>
        <input
          matInput
          type="text"
          placeholder="Enter your user name"
          id="username"
          formControlName="username"
        />
        <mat-error *ngIf="username?.errors?.['required']"
          >User name is required</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email id</mat-label>
        <input
          matInput
          type="text"
          placeholder="Enter your email id"
          id="emailid"
          formControlName="emailid"
        />
        <mat-error *ngIf="emailid?.errors?.['required']"
          >Email id is required</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>New password</mat-label>
        <input
          matInput
          type="password"
          placeholder="Enter your new password"
          id="newPassword"
          formControlName="newPassword"
        />
        <mat-error *ngIf="newPassword?.errors?.['required']"
          >Password is required</mat-error
        >
        <mat-error *ngIf="newPassword?.errors?.['minlength']"
          >Password must be at least 8 characters long.</mat-error
        >
      </mat-form-field>

      <button mat-raised-button color="accent" class=" resetbtn full-width">
        Reset Password
      </button>
    </form>
  </mat-card-content>
</mat-card>
